<h2>with form_tag</h2>
<%= form_tag users_path do %>
   <label>Name:</label>
   <%= text_field_tag :'user[name]' %>
</br>
</br>

   <label>E mail:</label>
   <%= text_field_tag :'user[email]' %>
</br>
</br>
   <label>password:</label>
   <%= text_field_tag :'user[password]'%>
 </br>
 </br>
   <%= submit_tag "Create User"%>
<%end%>

