<p><%=link_to 'Create Patient', patients_new_path%>
</p>
<P><%= link_to 'create Physician', new_physician_path%>
</P>
<p><%= link_to 'create Post', new_post1_path%>
</p>
<p><%= link_to 'List All Post', post1s_path%>
</p>
<P><%= link_to 'create Comment', new_comment1_path%>
</P>
<P><%= link_to 'List All Comment', comment1s_path%>
</P>		
